
<div class="lista-paciente-div">
    <h1>Lista de Pacientes</h1>
    {{#each users}}
        <div class="pacientes-div">
            <h2>{{this.nome}}</h2>
            <p>Espécie: {{this.especie}}</p>
            <p>Tutor: {{this.nomeDoTutor}}</p>
            <p>Veterinário responsável: {{this.Vet.veterinario}}</p>
            <a href="/users/{{this.id}}">Ver detalhes</a>
        </div>
    {{/each}}
</div>